@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(20px); /* Efecto de entrada sutil */
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
    }

    .animate-fade-in {
    animation: fade-in 1s ease-out forwards; /* Duración de 1 segundo */
    }

    .feature_selected{
        border-radius: 16px;
        opacity: 1;
    }