<button
        class="fixed top-4 right-4 z-50 md:hidden bg-gray-800 text-white p-2 rounded-full focus:outline-none"
        (click)="toggleMenu()"
    >
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
        </svg>
</button>
 
<div class="flex h-screen" >
    <aside [class.hidden]="!isMenuOpen" 

    class="
    
    fixed md:static z-40 md:block md:w-64 w-5/6 bg-gray-800 text-white h-full transition-transform md:translate-x-0" 
    [ngClass]="{'translate-x-0': isMenuOpen, '-translate-x-full': !isMenuOpen}"  
    >
        <div class="flex h-screen flex-col justify-between border-e bg-white dark:bg-gray-800  dark:border-gray-700">
            <div class="px-4 py-6">
                <span class="grid h-10 w-32 place-content-center rounded-lg font-bold text-xs text-gray-600 dark:text-white">
                    UPoints
                </span>
    
                <ul class="mt-6 space-y-1" >
                    <li>
                        <a routerLink="/admin/business" (click)="closeMenu()" class="block rounded-lg hover:bg-gray-100 px-4 py-2 text-sm font-medium text-gray-700 dark:text-white">
                            Inicio
                        </a>
                    </li>

                    <li>
                        <a routerLink="/admin/business/visits" (click)="closeMenu()"
                            class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700 dark:text-white">
                            Visitas
                        </a>
                    </li>
    
                    <li>
                        <details class="group [&_summary::-webkit-details-marker]:hidden">
                            <summary
                                class="flex cursor-pointer items-center justify-between rounded-lg px-4 py-2 text-gray-500 hover:bg-gray-100 hover:text-gray-700 dark:text-white">
                                <span class="text-sm font-medium"> Clientes </span>
    
                                <span class="shrink-0 transition duration-300 group-open:-rotate-180">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="size-5" viewBox="0 0 20 20"
                                        fill="currentColor">
                                        <path fill-rule="evenodd"
                                            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                            clip-rule="evenodd" />
                                    </svg>
                                </span>
                            </summary>
    
                            <ul class="mt-2 space-y-1 px-4">
                                <li>
                                    <a routerLink="/admin/business/clients" (click)="closeMenu()"
                                        class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700 dark:text-white">
                                        Listado de clientes
                                    </a>
                                </li>
    
                                <li>
                                    <a routerLink="/admin/business/clients-stats" (click)="closeMenu()"
                                        class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700 dark:text-white">
                                        Estadisticas
                                    </a>
                                </li>
                            </ul>
                        </details>
                    </li>
    
                    <li>
                        <a routerLink="/admin/business/gift-cards" (click)="closeMenu()"
                            class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700 dark:text-white">
                            Tarjetas de regalo
                        </a>
                    </li>

                    <li>
                        <a routerLink="/admin/business/billing" (click)="closeMenu()"
                            class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700 dark:text-white">
                            Facturación
                        </a>
                    </li>
    
    
                    <li>
                        <details class="group [&_summary::-webkit-details-marker]:hidden">
                            <summary
                                class="flex cursor-pointer items-center justify-between rounded-lg px-4 py-2 text-gray-500 hover:bg-gray-100 hover:text-gray-700 dark:text-white">
                                <span class="text-sm font-medium"> Cuenta </span>
    
                                <span class="shrink-0 transition duration-300 group-open:-rotate-180">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="size-5" viewBox="0 0 20 20"
                                        fill="currentColor">
                                        <path fill-rule="evenodd"
                                            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                            clip-rule="evenodd" />
                                    </svg>
                                </span>
                            </summary>
    
                            <ul class="mt-2 space-y-1 px-4">
                                <li>
                                    <a routerLink="/admin/business/profile" (click)="closeMenu()"
                                        class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700 dark:text-white">
                                        Ver cuenta
                                    </a>
                                </li>
    
                                <li>
                                    <a routerLink="/admin/business/1/edit" (click)="closeMenu()"
                                        class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700 dark:text-white">
                                        Editar cuenta
                                    </a>
                                </li>
    
                              
                            </ul>
                        </details>
                    </li>

                    <li>
                        <a routerLink="/admin/business/configuration" (click)="closeMenu()"
                            class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700 dark:text-white">
                            Configuración
                        </a>
                    </li>
                </ul>
            </div>
    
            <div class="sticky inset-x-0 bottom-0 border-t border-gray-100 dark:bg-gray-800 dark:border-gray-700">
                <div  class="flex items-center gap-2 bg-white p-4 hover:bg-gray-50  dark:bg-gray-800 dark:border-gray-700">
                    <img alt=""
                        src="https://i.ibb.co/NV4ZFRB/335888060-1657676264683343-2338455366944473809-n.jpg"
                        class="size-10 rounded-full object-cover" />
    
                    <div>
                        <p class="text-xs text-gray-500 dark:text-white">
                            <strong class="block font-medium">Que Cueros</strong>
    
                            <span class="text-red-800 font-bold" (click)="logout()">Salir</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </aside>

    <!-- <aside class="hidden md:block md:w-64 bg-gray-800 text-white  h-screen">
        <nav class="p-4">
            <ul>
                <li><a routerLink="/admin/business/clients" class="block py-2">Usuarios</a></li>
                <li><a routerLink="/admin/business/users" class="block py-2">Configuración</a></li>
            </ul>
        </nav>
    </aside> -->

    <main class="flex-1 bg-gray-100 dark:bg-gray-900  overflow-auto " (click)="closeMenu()">
        <router-outlet></router-outlet>
    </main>

  
</div>