 

<div class="px-40 dark:text-white mt-20">
    <h2 class="text-3xl font-semibold mt-8 text-gray-900 dark:text-white">Perfil</h2>

    <dl class="-my-3  text-sm mt-8">
      <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
        <dt class="font-medium text-gray-900 dark:text-white">Nombre</dt>
        <dd class="text-gray-700 sm:col-span-2 dark:text-white">Luis Rojas</dd>
      </div>
  
      <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
        <dt class="font-medium text-gray-900 dark:text-white">Correo</dt>
        <dd class="text-gray-700 sm:col-span-2 dark:text-white">chikavi10gmail.com</dd>
      </div>
  
      <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
        <dt class="font-medium text-gray-900 dark:text-white">Cumpleaños</dt>
        <dd class="text-gray-700 sm:col-span-2 dark:text-white">10 de marzo de 1999</dd>
      </div>
  
      <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
        <dt class="font-medium text-gray-900 dark:text-white">Celular</dt>
        <dd class="text-gray-700 sm:col-span-2 dark:text-white">33-27-27-69-23</dd>
      </div>


    <h2 class="text-3xl font-semibold mt-12 text-gray-900 dark:text-white">Idioma</h2>
    <p class="mt-3">Selecciona el idioma preferido para el Dashboard e incluye el formato de fecha, hora y número.
</p>

        <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
          <dt class="font-medium text-gray-900 dark:text-white">Idioma</dt>
          <dd class="text-gray-700 sm:col-span-2 dark:text-white">Español</dd>
        </div>
    </dl>


    <p class="mt-12" >Configurar</p>
    <h2 class="text-3xl font-semibold  text-gray-900 dark:text-white">Empresa</h2>

<ul
  class=" mt-4 flex flex-wrap text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400">
  <li class="me-2">
    <a href="#" aria-current="page"
      class="inline-block p-4 text-blue-600 bg-gray-100 rounded-t-lg active dark:bg-gray-800 dark:text-blue-500">Datos de la empresa</a>
  </li>
  <li class="me-2">
    <a href="#"
      class="inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-300">Datos Fiscales</a>
  </li>
  <li class="me-2">
    <a href="#"
      class="inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-300">Configuración</a>
  </li>
  
</ul>



<section class="bg-white dark:bg-gray-900 dark:text-white">
  <div class="py-8 px-4  max-w-2xl lg:py-16">
    <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">Información general</h2>

    <p>Subi logo de tu negocio</p>
    <div>
      <div>
        <img src="https://flowbite.s3.amazonaws.com/blocks/e-commerce/imac-front-dark.svg" alt="avatar" />
      </div>
      <input type="file">
      <small>PNG o JPG (MAX. 800x400px)</small>
    </div>

    <form action="#">
      <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
        <div class="sm:col-span-2">
          <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre</label>
          <input type="text" name="name" id="name"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
            placeholder="Nombre del negocio" required="">
        </div>
        <div class="w-full">
          <label for="brand" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Celular</label>
          <input type="text" name="brand" id="brand"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
            placeholder="Celular del negocio" required="">
        </div>

        <div>
          <label for="category" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Categoria</label>
          <select id="category"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
            <option selected="">Selecciona una categoria</option>
            <option value="TV">Restaurante</option>

          </select>
        </div>

        <div class="sm:col-span-2">
          <label for="description"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Descripción</label>
          <textarea id="description" rows="8"
            class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
            placeholder="Descripcion del negocio"></textarea>
        </div>
      </div>
      <button type="submit"
        class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center bg-black text-white bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
        Agregar Información
      </button>
    </form>
  </div>
</section>


  </div>
  