 
<div class="p-12">
        <h2 class="mb-4 text-2xl font-semibold mt-8 text-gray-900  md:mb-6">Estadisticas</h2>

    <div
        class="block max-w-2xl p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">

        <canvas baseChart [data]="data" [type]="'bar'"> </canvas>

        <h5 class="mt-10 mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
            Noteworthy technology acquisitions
        </h5>

        <p class="font-normal text-gray-700 dark:text-gray-400">
            Here are the biggest enterprise technology acquisitions of
            2021 so far, in reverse chronological order.
        </p>


    </div>

    
</div>
 