
<div class="p-6">
    <h1 class="text-3xl font-bold">Bienvenidos de nuevo</h1>
    <p class="text-xl">
        Lunes 25 de marzo
    </p>

    <h3 class="mt-10 text-3xl font-bold">Accesos Rápidos</h3>

    <div>
        <h2>Escanea tu código QR</h2>
    
        <!-- Video donde se mostrará la cámara -->
        <video #videoElement width="100%" height="auto" autoplay muted></video>
    
        <!-- Mostrar el resultado si se encuentra un código -->
        <p *ngIf="result">Resultado: {{ result }}</p>
    </div>
    
</div>